:root {
  --color-primary: #010715;
  --color-secondary: #2f343e;
  --color-tertiary: #5c616d;
  --color-quaternary: #8e939f;
  --color-quinary: #c2c7d5;

  --color-accent: #00c6bc;
  --color-accent-dark: #1b857f;
  --color-accent-darker: #334b49;
  --color-info: #0093ff;
  --color-background-dark: #0f2037;
  --color-warning: #f8bd3b;

  --color-dark: #1a1b1f;
  --color-darkest: #25262a;
  --color-gray-dark: #383838;
  --color-orange: #fc4300;
}
